
.button-next{
    align-self: flex-end;
    margin-left: auto;
    color: #FFF;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: rebeccapurple;
}
.button-next[disabled] {
    background-color: gray;
    color: white;
    cursor: not-allowed;
}