.setup-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divider{
    height: 1rem;
    white-space: nowrap;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.divider:before, .divider:after {
    content: "";
    height: 0.125rem;
    width: 100%;
    flex-grow: 1;
    background-color: grey;
}


.settings-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.settings-container
.settings-container button{
    width: 100%;
}