* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #e5e5e5;
  overflow-x: hidden;
  /*background-image: url("./assets/bg.jpg");*/
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

h1, h4 {
  margin: .5em;
}