* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #000000;
  overflow-x: hidden;
  background-image: url("./assets/bg.jpg");
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

body, #root {
  height: 100%;
  min-height: 100vh;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4, h5, h6, p, a, li, span, button {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  font-size: 24px;
  line-height: 1.5;
}
h1, h4 {
  margin: .5em;
}